# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
# *.tfvars  # this is removed from .ignore file as for now we do not have any secrets in .tfvars file we have only created resources values
*.tfplan

# macOS
.DS_Store

# VS Code
.vscode/

# Crash logs
crash.log